.thsaraban18{
  font-family: 'THSarabunNew';
  font-size: 18px !important;
}

.thsaraban20{
  font-family: 'THSarabunNew';
  font-size: 20px !important;
}

.thsaraban22{
  font-family: 'THSarabunNew';
  font-size: 22px !important;
}